.container {
  width: auto;
  height: auto;
  border: 2px solid rgb(175, 174, 174);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  background-color: rgb(125, 156, 156);
  font-family: "Lucida Sans";
}

.deskContainer {
  width: 70%;
  height: 30%;
  border: 2px solid rgb(175, 174, 174);
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  background-color: rgb(125, 156, 156);
  padding-right: 20px;
  font-family: "Lucida Sans";
}
.deskimage {
  width: 200px;
  height: 200px;
  display: inline-block;
  vertical-align: middle;
  border-radius: 5px;
}

.image {
  width: auto;
  height: auto;
  display: inline-block;
  vertical-align: middle;
}

.header {
  /* float: right; */
  /* width: 60%; */
  height: auto;
  display: inline-block;
  vertical-align: middle;
}

h1 {
  text-align: center;
}

p {
  text-align: left;
  padding-left: 10px;
  color: rgb(216, 215, 215);
}
